        body{
            background-color: rgb(159, 185, 233);
              width: 35%;
              margin-left: auto;
              margin-right: auto;

        }
        #ingr{
            border-style: double;
            border-radius: 5px;

        }
        #equip{
            border-style: double;
            border-radius: 5px;
        }
        #steps{
            border-style: double;
            border-radius: 5px;
        }