        body{
            background-color: rgb(159, 185, 233);
              width: 35%;
              margin-left: auto;
              margin-right: auto;

        }
        #bodytext{
            border-style: double;
            border-radius: 5px;

        }
        #image{
            position: relative;
            left: 20%;
            right: auto;
        }
        #titletext{
            position: relative;
            left: 35%;
            right: auto;
        }
        #undertext{
            position: relative;
            left: 5%;
            right: auto;
        }
